clustergrammer2             
clustergrammer_widget      
ipywidgets                  
pandas                      
session_info                
traitlets                  
IPython             
jupyter_client      
jupyter_core        
jupyterlab          
notebook            
numpy==1.25.0
